body{
    margin: 0;
    padding: 0;
    background-color: lightblue;
}

h1{
    text-align: center;
    font-family: 'Droid Sans Mono', sans-serif;
    font-weight: 900;
    text-shadow: 2px 2px yellow;
}

h2{
    text-shadow: 2px 2px yellow;
    font-family: 'Droid Sans Mono', sans-serif;                                                  
}

input{
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    width: 50%;
    border: 2px solid black;
    border-radius: 20px;
    font-weight: bold;
    font-family: 'Droid Sans Mono', sans-serif;
    box-shadow: 8px 10px gray; 
}

#sign_btn{
    margin: auto;
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 20px;
    width: 20%;
    background-color: lightblue;
    font-family: 'Droid Sans Mono', sans-serif;
    cursor: pointer;
    box-shadow: 5px 5px gray; 
}

#sign_btn:active {
    transform: translateY(4px);
}

.sign_Form{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: auto;
    width: 30%;
    text-align: center;
    background-color: lightgray;
    margin-top: 120px;
    height: 280px;
    border: 2px solid black;
    border-radius: 50px;
    font-family: 'Droid Sans Mono', sans-serif;
    box-shadow: 10px 10px gray; 
}

#form_text{
    margin: 3px;
    word-spacing: 1px;
}

a{
    color: red;
    cursor: pointer;
}

.register_Form{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: auto;
    width: 30%;
    text-align: center;
    background-color: lightgray;
    margin-top: 120px;
    height: auto;
    border: 2px solid black;
    border-radius: 50px;
    font-family: 'Droid Sans Mono', sans-serif;
    box-shadow: 10px 10px gray; 
}

#register_btn{
    margin: auto;
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 20px;
    width: 20%;
    background-color: lightblue;
    font-family: 'Droid Sans Mono', sans-serif;
    cursor: pointer;
    box-shadow: 5px 5px gray; 
}

#register_btn:active{
    transform: translateY(4px);
}

#addbtn{
    margin: auto;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 5px;
    padding: 10px;
    border-radius: 20px;
    width: 10%;
    background-color: lightblue;
    font-family: 'Droid Sans Mono', sans-serif;
    cursor: pointer;
    box-shadow: 5px 5px gray; 
}

.todoHeader{
    margin: auto;
    width: 70%;
    text-align: center;
}

#logOutbtn{
    margin: auto;
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 20px;
    width: 10%;
    background-color: lightblue;
    font-family: 'Droid Sans Mono', sans-serif;
    cursor: pointer;
    box-shadow: 5px 5px gray; 
}

.todoList{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: auto;
    width: 30%;
    text-align: center;
    background-color: lightgray;
    margin-top: 120px;
    height: auto;
    border: 2px solid black;
    border-radius: 50px;
    font-family: 'Droid Sans Mono', sans-serif;
    box-shadow: 8px 8px gray;
    list-style-type: none;
}

#myList{
    list-style-type: none;
    width: 100%;
    padding-left: 0px;
}   

li{
    width: 80%;
    margin-left: 30px;
    padding-right: 10px;
}

span{
    float: right;
}

hr{
    width: 100%;
    border: none;
    border-top: 2px solid black;
}

.remove{
    float: right;
    border: none;
    background-color: lightgray;
}

.done{
    float: left;
    border: none;
    background-color: lightgray; 
}

.hidden{
    display: none;
}